@import url("//fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400&family=Rajdhani:wght@300;400&display=swap");
.container-fluid {
  padding: 0;
}

.navbar {
  background-color: #222;
  border-color: #080808;
  margin: 0;
  position: fixed;
  padding-right: 31.5px;
}

.navbar-header {
  font-family: 'Advent Pro', sans-serif;;
  margin-left: 40px !important;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: 400;
}

.navbar-nav {
  height: 50px;
  margin-left: 350px;
}

.navbar-nav li a {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5rem;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
  color: #E00008;
}

.navbar-default .navbar-nav > .active {
  background-color: #dfe3e6;
}

/*div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}*/

.background-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 700px;
  overflow: hidden;
  background-size: cover;
  position: fixed;
}

.background-img, .main, .credit-to {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.intro {
  margin-top: 700px;
}
